body {
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 5px;
}

button {
  max-width: 72px;
  padding: 5px;
  background-color: #3882f6;
  border-radius: 5px;
  border-style: none;
  color: #F9FAF8;
  font-weight: 525;
}

.top {
  display: flex;
  background-color: #1F2937;
  justify-content: space-evenly;
  padding: 32px
}

h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}

.title > p {
  color: #E5E7EB;
}

img {
  max-width:300px;
  max-height:auto;
}

.container {
  display: flex;
  padding: 16px;
}

.bottom {
  flex-direction: column;
}

.title {
  flex-direction: column;
  max-width: 400px;
}
