html {
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
  padding: 0;
}

/* TOP PART OF PAGE / TITLE*/
 
.header {
  display: flex;
  justify-content: space-around;
}

h3 {
  margin: 0 0 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 5px;
}

button {
  max-width: 72px;
  padding: 5px;
  background-color: #3882f6;
  border-radius: 5px;
  border-style: none;
  color: #F9FAF8;
  font-weight: 525;
}

.top {
  display: flex;
  background-color: #1F2937;
  justify-content: space-around;
  padding: 48px;
}

h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}

.title {
  flex-direction: column;
  max-width: 400px;
}

.title > p {
  display: flex;
  color: #E5E7EB;
}

img {
  max-width:300px;
  max-height:auto;
}

/* MIDDLE PART OF PAGE/GALLERY */

.middle {
  display: flex;
  text-align: center;
  justify-content: center
}

h2 {
  display: block;
  flex: 1 1 auto;
  text-align: center;
  margin: 32px;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
}

.gallery > img {
  border-radius: 7px;
  border-width: 3px;
  border-style: solid;
  border-color: #3882f6;
  max-width: 150px;
  max-height: auto;
}

.gallery > p {
  max-width: 150px;
}

/* BOTTOM PART OF PAGE/QUOTE */

.bottom {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.message {
  padding: 16px;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1F2937;
  min-width: 45vw;
  max-width: 600px;
  width: auto;
  margin: auto;
  justify-self: center;
}

.sign {
  width: auto;
  max-width: 450px;
  margin: auto;
  margin-right: 30vw;
  font-size: 24px;
  text-align: right;
}

.form {
  display: flex;
  padding: 3vh 4vw;
  background-color: #3882f6;
  border-radius: 5px;
  max-width: 900px;
  max-height: 25%;
  margin: 16px auto;
  min-width: 30vw;
  justify-content: space-between;
}

.form > button {
  border-style: solid;
  border-color: white;
  margin: auto;
  padding: 4px 16px;
  margin-right: 0;
}

.formtext {
  flex: 1 1 auto;
  max-width: 300px;
}

.formtext > h2 {
  text-align: left;
  margin: 0 0 4px auto;
  font-size: 18px;
  font-weight: 900;
  color: #F9FAF8;
}

.formtext > p {
  margin: 0 0 0 auto;
  font-size: 10px;
  font-weight: lighter;
  color: #F9FAF8;
  padding-right: 8px;
} 

.footer {
  text-align: center;
}